<!doctype html>
<html>
<head>
<title><%= user[:name] %> Account Information</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>
<body>

<h2>
<%= user[:name] %>
</h2>

<p>
<label>Bank Name:</label><br/>
<%= user[:bank_name] %>
</p>
<p>
<label>Account Number:</label><br/>
<%= user[:account_number] %>
</p>
<label>Routing Number:</label><br/>
<%= user[:routing_number] %>
</p>

<p>
<a href="/users/<%= user[:id] %>">Back to Profile</a>
</p>

<p>
<a href="/users/<%= user[:id] %>/account/editaccount">Edit Account Info</a>
</p>
<p>
<a href="/">Log Out</a>
</p>
</form>
</body>
</html>

