<!doctype html>
<html>
<head>
<title>Update Funds</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>

<body>
<form action="/users/<%= user[:id] %>/Updatefunds" method="post">
<input name="_method" value="get" type="hidden"/>
<p>

<label>Enter an amount to update your balance</label> <br/>


<input type="text" name="user[account_balance]" value="<%= user[:account_balance]%>">
</p>
<p>
<input type="submit" name="commit" value ="Save">
</p>


<a href="/">Log Out</a>
<p>

</form>
</body>
</html>