<!doctype html>
<html>
<head>
<title>Edit <%= user[:name] %> Account Information</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>
<body>
<form action="/users/<%=user[:id]%>/editaccount" method="post">
<input name="_method" value="get" type="hidden" />
<p>
<label>Bank Name:</label><br/>
<input type="text" name="user[bank_name]" value="<%= user[:bank_name] %>">
</p>
<p>
<label>Account Number</label><br/>
<input type="text" name="user[account_number]" value="<%= user[:account_number] %>">
</p>
<p>
<label>Routing Number</label><br/>
<input type="text" name="user[routing_number]" value="<%= user[:routing_number] %>">
</p>
<p>
<input type="submit" name="commit" value="Save"> </br>
</p>
<p>
<a href="/">Log Out</a>
</p>
</form>
</body>
</html>