<!doctype html>
<html>
<head>
<title>Edit <%= user[:name] %> Account</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>

<body>
<form action="/users/<%=user[:id]%>/updateedit" method="post">
<input name="_method" value="get" type="hidden"/>
<p>
<label>Name</label><br/>
<input type="text" name="user[name]" value="<%= user[:name] %>">
</p>
<p>
<label>E-Mail</label><br/>
<input type="text" name="user[email]" value="<%= user[:email] %>">
</p>

<p>
<input type="submit" name="commit" value="Save">
</p>
<a href="/">Exit</a>
<p>
</form>
</body>
</html>