<!doctype html>
<html>
<head>
  <title>Email not found in the system </title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no">
  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
<h1>Email not in system try again or exit and create a new user</h1>
  <form action="/users/login" method="put">
    <p>
      <label>Email</label><br/>
      <input type="text" name="email">
    </p>
    <p>
      <label>Password</label><br/>
      <input type="password" name="password">
    </p>
    </p>
<p>
<input type="submit" name="commit" value="Submit">
</p>

  <p>
   </p>
   <a href="/">Exit</a>
  <p>
  </form>
</body>
</html>



