<!doctype html>
<html>
<head>
<title>Checking cost</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>
<body>
<form action="/users/finishtrans" method="put">
<input name="_method" value="put" type="hidden"/>
<p>
<label>user id</label><br/>
<input type="text" name="user[user_id]" value="<%= user[:id] %>">
</p>
<p>
<label>Account Number</label><br/>
<input type="text" name="user[account_number]" value="<%= user[:account_number] %>">
</p>
<p>
<label>Routing Number</label><br/>
<input type="text" name="user[routing_number]" value="<%= user[:routing_number] %>">
</p>
<p>
<input type="submit" name="commit" value="Save">
</p>
</form>
</body>
</html>