<!doctype html>
<html>
<head>
  <title>Login</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no">
  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <form action="/users/finishtrans" method="put">
    <p>
      <label>User id</label><br/>
      <input type="text" name="user_id" >
    </p>
    <p>
      <label>Cost</label><br/>
      <input type="text" name="cost">
    </p>
    </p>
<p>
<input type="submit" name="commit" value="Submit">
</p>

<p>
    <a href="/users/finishtrans">Check cost</a>
  </p>
  <p>
   </p>
   <a href="/">Exit</a>
  <p>
  </form>
</body>
</html>



