<!doctype html>
<html>
<head>
  <title>New User</title>
  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <form action="/users" method="post">
    <p>
      <label>Name</label><br/>
      <input type="text" name="user[name]">
    </p>
    <p>
      <label>E-Mail</label><br/>
      <input type="text" name="user[email]">
    </p>
    <p>
      <label>Account Balance </label><br/>
      <input type="text" name="user[account_balance]">
    </p>

    <p>
    <label> Bank Name </label><br/>
    <input type="text" name="user[bank_name]">
    </p>

    <p>
    <label> Bank Account Number </label><br/>
    <input type="text" name="user[account_number]">
    </p>

    <p>
    <label> Routing Number </label><br/>
    <input type="text" name="user[routing_number]">
    </p>

    <p>
    <label>Password</label><br/>
    <input type="text" name="user[user_password]">
    </p>

    <p>
      <input type="submit" name="commit" value="Save">
    </p>

<a href="/">Exit</a>
<p>

  </form>
</body>
</html>