<!doctype html>
<html>
<head>
  <title><%= user[:name] %></title>

  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <h1><%= user[:name] %></h1>
  <p>
    <%= user[:email] %>
  </p>
  <p>
    Balance: <%= user[:account_balance] %>
  </p>


  <p>
  <a href="/users/<%= user[:id] %>/AddFunds">Update Funds</a>
  <form action="/users/<%= user[:id] %>" method="post" style="display:inline;">
  </form>
  </p>


  <p>
  <a href="/users/<%= user[:id] %>/account">Account Info</a>
  <form action="/users/<%= user[:id] %>" method="post" style="display:inline;">
  </form>
  </p>


  <p>
    <a href="<%= "/users/#{user[:id]}/pass.pkpass" %>">Download Pass</a>
  </p>

<p>
<a href="/">Log Out</a>
</p>

</body>
</html>