<!doctype html>
<html>
<head>
<title>Add Funds Confirm</title>

<style type="text/css" media="screen">
body, html {
font-size: 16px;
font-family: "Helvetica Neue";
}
</style>
</head>

<body>

<p>

<label>Are you sure you want to update your balance? </label><br/>
<input type="text" name="user[balance_mod]" value="<%= user[:balance_mod] %>">
</p>

<p>
<a href="/users/<%= user[:id] %>"> Submit</a>
<form action="/users/<%= user[:id] %>"
</form>
</p>

</form>
</body>
</html>