<!doctype html>
<html>
<head>
  <title>Cardblanc Passbook</title>

  <style type="text/css" media="screen">
    body, html {
      font-size: 16px;
      font-family: "Helvetica Neue";
    }
  </style>
</head>
<body>
  <h1>Cardblanc Passbook Dev Server</h1>

<p>
<a href="/users/existing"> Existing Users</a>
</p>

<p>
<a href="/users/adminlogin">Administration</a>
</p>

<p>
<a href="/users/new">New Users</a>
</p>

<p>
<a href="/users/labviewdata">Purchase</a>
</p>

</body>
</html>